
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content{
    font-size: 15px
}

body{
    font-family: 'Climate Crisis', cursive;
    font-family: 'Shantell Sans', cursive;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
    color: #fff;
}

a{
    text-decoration: none;
}

p{
    padding: 1.6rem 0;
    color: black;
}

img{
    width: 100%;
    height: auto;
}

.clearfix::after {
    content: none;
    display: block;
    clear: both;
}




header .bg-image {
    position: absolute;
    background-image: url(racon.jpg);
    background-size: cover;
    background-position: center;
    height: 86rem;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
    
}

.btn {
    display: inline-block;
    background: #333;
    color: white;
    border: 1px solid #666;
    padding: 1rem 2rem;
    margin: .5rem 0;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #fff;
    color: #333;

}

#sect-1{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
    font-size: 10px;
}

#section-b{
    padding: 2rem;
}

#section-b ul {
    list-style: none;
}

#section-b li {
    background: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}

.col-content {
    padding: 1.5rem;
}

#section-c {
    background-color: #eaeaea;
    color: #333;
    padding: 1.5rem;

}

#section-d .box {
    padding: 1.5rem;
}

#section-d .box:first-child {
    background-color: darkslategray;
} 



footer{
    padding: 1.5rem;
    background: gray;
}

footer a {
    color: yellowgreen;
}

@media screen and (min-width:800px) {

    html {
        font-size: 12px;
    }
    
}

@media screen and (min-width:1200px) {

    html {
        font-size: 20px;
    }

    #section-b li {
        width: 28%;
        margin: 1%;
        display: inline-block;
    }

    .box {
        width: 50%;
        float: left;
    }
    
}